<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EndpointService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1907/" binding="basicHttpBinding"
                bindingConfiguration="EndpointService" contract="ServiceReference1.IService1"
                name="EndpointService" />
        </client>
    </system.serviceModel>
</configuration>